* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
}

h1{
    margin: 0;
    padding: 0;
    color: white;
    margin-bottom: 75px;
    font-size: 72px;
    letter-spacing: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}

p{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 32px;
    font-weight: 300;
}

.main-wrapper{
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(148deg, #071d3b 0%, #240303 100%);
}


.gum-content 
    display: flex;
    justify-content: center;
    align-items: center;
}

.gum-container {
    position: relative;
    border-radius: 100%;
    margin: 20px;
}

.gum-container-foreground, .gum-container-background{
    position: absolute;
    width: 375px;
    height: 375px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gum-container-background{
    box-shadow: inset 0px 0px 100px rgba(6, 1, 36, 0.15);   
}

.gum-container-foreground{
    background-image: url(img/container-foreground.png);
    opacity: .5;
    z-index: 2;
    box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.7);
    border: 5px solid rgba(0, 0, 0, 0.27);
}
