* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container-content {
    background-color: rgb(19, 19, 85);
    padding: 50px;
}

.gum-container {
    position: relative;
    border-radius: 100%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0));
    box-shadow: inset 0px 25px 100px rgba(255, 255, 255, 0.35);
    margin: 20px;
}
